@using Antra.CRMApp.Core.Model
@model List<EmployeeResponseModel>



<h1>Employee details</h1>
<table class="table">
    <thead>
        <tr>
            
            <td>Title</td>
            <td>TitleOfCourtesy</td>
            <td>Full Name</td>
            <th>Birthdate</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var e in Model)
            {
               <tr>
              
               <td>@e.Title</td>
               <td>@e.TitleOfCourtesy</td>
               <td>@e.FullName</td>
               <td>@e.BirthDate</td>
               <td>@e.Phone</td>
               <td>@e.Address</td>
               <td>@e.City</td>
               </tr> 

            }
        }
    </tbody>
</table>



<a asp-action="Index" asp-controller="Employee"  class="btn btn-primary">Back</a>
